<%- include('partials/header'); -%>
<center><h1>Assessment Details</h1></center>
<form action="/admin/createAssessment" method="post">
  <input
    type="text"
    id="name"
    name="assess_name"
    placeholder="Name of Assessment"
  />
  <input
    type="text"
    id="noq"
    name="numberQns"
    placeholder="Number of Questions"
  />

  <input type="submit" value="Submit" />
</form>

<%- include('partials/footer'); -%>
